
<form>
    <div class="form-group">
        <label>{{localize "VTM5E.SelectDiscipline"}}</label>
        <select id="data.disciplineSelect" name="data.disciplineSelect">
            {{#select data.data.disciplineSelect}} 
                {{{options}}}
            {{/select}}
        </select>
        {{log data.data.disciplineSelect}}
        {{log data.disciplineSelect}}
        {{log data}}
        {{#if_eq "custom-discipline" data.data.disciplineSelect}}
            <label>{{localize "VTM5E.SelectDiscipline"}}</label>
            <input name="data.newdisciplinename" id="newdisciplinename" value="{{data.data.newdisciplinename}}" />
        {{/if_eq}}
    </div>
</form>