
<form>
    <div class="form-group">
        <label>${game.i18n.localize("VTM5E.SelectDiscipline")}</label>
        <select id="disciplineSelect" name="data.disciplineSelect">{{options}}</select>
        <label visible={{eq "custom-discipline" data.data.disciplineSelect}}>${game.i18n.localize("VTM5E.SelectDiscipline")}</label>
        <input name="data.newdisciplinename" id="newdisciplinename" value="{{data.data.newdisciplinename}}" visible={{eq "custom-discipline" data.data.disciplineSelect}}/>
    </div>
</form>`;