
<form>
    <div class="form-group">
        <label>{{localize "VTM5E.SelectDiscipline"}}</label>
        <select id="disciplineSelect" name="disciplineSelect">
            {{#select data.disciplineSelect}} 
                {{{options}}}
            {{/select}}
        </select>
        {{#if_eq "custom-discipline" data.data.disciplineSelect}}
            <label>{{localize "VTM5E.SelectDiscipline"}}</label>
            <input name="newdisciplinename" id="newdisciplinename" value="{{data.newdisciplinename}}" />
        {{/if_eq}}
    </div>
</form>