<form>
    {{#unless noability}}
    <div class="form-group">
        <label> {{localize "VTM5E.SelectAbility"}} </label>
        <select name="abilitySelect" data-type="String">
            {{#select data.abilitySelect}} {{>
            "systems/wod20/templates/item/parts/attributes.html"}}
        </select>
    </div>
    {{/unless}}
    <div class="form-group">
        <label>{{localize "VTM5E.Modifier"}}</label>
        <input type="text" id="inputMod" value="0">
    </div>
    <div class="form-group">
        <label>{{localize "VTM5E.Difficulty"}}</label>
        <input type="text" min="0" id="inputDif" value="6">
    </div>
    {{#unless noability}}
        <div class="form-group">
            <label>Specialty?</label>
            <input id="specialty" type="checkbox" />
        </div>
    {{/unless}}
    <div class="form-group">
        <label>Apply wounds?</label>
        <input id="applyWounds" type="checkbox" checked />
    </div>
</form>